* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#200016, #10001f);
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

header .logo {
  font-size: 2rem;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  margin-right: 30px;
}

header ul li a {
  padding: 6px 15px;
}

header ul li a:hover {
  background: white;
  color: #200016;
  border-radius: 8px;
}
